<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You've correctly configured Rails + Railgun!</h1>
    <p>
      The `Railgun Info` mailer demonstrates using attachments with Rails.
      If this mail does not include a PDF attachment, something went wrong :(
    </p>
    <blockquote>
      - Sent with love by Mailgun :)
    </blockquote>
  </body>
</html>
