<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You've correctly configured Rails + Railgun!</h1>
    <p>
      Enjoy sending mail quicker than ever with Mailgun!
    </p>
    <blockquote>
      - Sent with love by Mailgun :)
    </blockquote>
  </body>
</html>
